{{page-header text='New Event'}}
{{editing/event/event-basic-info-form model=model cancelPath='dashboard' saveSuccessPath='events.show'}}

<div class='layout-row flex-100 mt-sm-5 layout-align-center-start'>
  {{#unless showForm}}
    {{event/new-tutorial
      class='flex-xs-100 flex-gt-xs-70'
      event=modal
      onComplete=(action (mut showForm) true)
    }}
  {{/unless}}
</div>

{{#if showForm}}
  {{event/new-wizard event=model}}
{{/if}}

{{to-elsewhere
  named='top-navigation'
  send=(component 'app-nav/event-new-nav' event=model class='sticky shadow-down')
}}
