<div class='text-center'>
  <h1 class='text-center'>
    {{ t 'appname' }}
  </h1>
  <h6 class='text-center'>
    {{ t 'subheader' }}
  </h6>
  <br>
  <span>
    {{ t 'copyright' }}
  </span>
  <h3>
    <a href='https://www.facebook.com/aeonvera'>
      {{ fa-icon 'facebook' }} facebook
    </a>
    <a href='https://github.com/NullVoxPopuli/aeonvera/issues'>
      {{ fa-icon 'github' }} issue tracker
    </a>
  </h3>
</div>
