{{#order/order-cart host=event afterCancel='clearOrder' afterCheckout='openPaymentModal' quantitySelect=true}}

  {{#block-slot 'registrationSetter'}}
    <tr><td colspan='2'>
      <input type='checkbox' checked={{absorbFees}} onclick={{action 'absorbFeesClick' value='target.checked'}}>
      <label>Absorb Service Fee</label>
    </td></tr>
  {{/block-slot}}

  {{#block-slot 'listItems'}}

    {{page-header text='At the door registration'}}

    {{order/hidden-mark-paid-modal
      show=cart.order
      showOrder=true
      order=cart.order
      afterPayment='clearOrder'
    }}

    {{#error-field-wrapper errors=registration.errors field='first name' includeFieldName=true fieldName='First name'}}
      {{#error-field-wrapper errors=registration.errors field='last name' includeFieldName=true fieldName='Last name'}}
      <label>
        <span>What is this person's name?</span>
        {{input type='text' value=registration.attendeeName placeholder='First Last'}}
      </label>
      {{/error-field-wrapper}}
    {{/error-field-wrapper}}

    <label>What is this person's email address? (Optional, receipt goes here)</label>
    {{input type='email' value=registration.attendeeEmail}}

    {{form/city-state
      city=registration.city
      state=registration.state
      errors=registration.errors
    }}
    <a {{action 'setToEventLocation'}}>Set to Event Location</a>
    <hr />

    <div class='row'>
      <div class='columns medium-6'>
        {{at-the-door/register-form/package-select
          packages=event.packages
          onSelect='setPackage'
          errors=registration.errors
        }}


      </div>
      <div class='columns medium-6'>
        {{partial 'register/event/orientation'}}

        {{at-the-door/register-form/level-select
          levels=event.levels
          onSelect='setLevel'
          show=registration.package.requiresTrack
          errors=registration.errors
        }}
      </div>
    </div>


    {{partial 'register/event/competitions'}}

    {{!-- {{partial 'register/event/shirts' event=event}} --}}
    {{partial 'register/event/a-la-carte'}}

  {{/block-slot}}
{{/order/order-cart}}
