<div class='layout-row'>
  <div class='flex'></div>
  <div class='flex-gt-sm-66 layout-column layout-align-center'>
    <div class='layout-row'>
      {{paper-input
        label='First Name'
        value=user.firstName
        isTouched=hasMadeAttempt
        errors=(map-by 'message' user.errors.firstName)
        onChange=(action (mut user.firstName))}}

      {{paper-input
        label='Last Name'
        value=user.lastName
        isTouched=hasMadeAttempt
        onChange=(action (mut user.lastName))
        errors=(map-by 'message' user.errors.lastName)}}
    </div>

    <div class='layout-row'>
      {{paper-input
        label='Email'
        value=user.email
        isTouched=hasMadeAttempt
        onChange=(action (mut user.email))
        errors=(map-by 'message' user.errors.email)}}
    </div>

    <div class='layout-row'>
      {{paper-input
        type='password'
        label='Password'
        value=user.password
        isTouched=hasMadeAttempt
        onChange=(action (mut user.password))
        errors=(map-by 'message' user.errors.password)}}

      {{paper-input
        type='password'
        label='Password Confirmation'
        isTouched=hasMadeAttempt
        value=user.passwordConfirmation
        onChange=(action (mut user.passwordConfirmation))
        errors=(map-by 'message' user.errors.passwordConfirmation)}}
    </div>


    <div class='layout-row layout-align-end'>
      {{ember-paper/async-button
        raised=true
        primary=true
        label='Sign Up'
        loadingMessage='Submitting...'
        successMessage='Account Created!'
        onClick=(action 'register') }}
    </div>
  </div>
  <div class='flex'></div>
</div>
