<div class='row'>
  <div class='columns small-6'>
    {{page-header text='Housing Requests'}}
  </div>
  <div class='columns small-6'>
    {{#link-to 'events.show.housing.requests.new' classNames='button small margin-top-10 right'}}
      <span>Add Request</span>
    {{/link-to}}
  </div>
</div>



{{#sortable-table columns=columns data=model as |request| }}
  <td>
    {{#if (is-present request.attendance.attendeeName)}}
      {{attendance-link model=request.attendance}}
    {{else}}
      {{request.name}}
    {{/if}}
  </td>
  <td>{{request.attendance.hasPaid}}</td>
  <td>
    {{#if request.allergicToPets}}
      Pets
    {{/if}}
    {{#if request.allergicToSmoke}}
      Smoke
    {{/if}}
    {{request.otherAllergies}}
  </td>
  <td>
    {{request.requested1}}&nbsp;
    {{request.requested2}}&nbsp;
    {{request.requested3}}&nbsp;
    {{request.requested4}}
  </td>
  <td>
    {{request.unwanted1}}&nbsp;
    {{request.unwanted2}}&nbsp;
    {{request.unwanted3}}&nbsp;
    {{request.unwanted4}}
  </td>
  <td>
    {{#if request.canProvideTransportation}}
      Yes, {{request.transportationCapacity}}
    {{else}}
      No, {{request.transportationCapacity}}
    {{/if}}
  </td>
  <td>{{request.notes}}</td>
  <td>{{date-with-format request.attendance.registeredAt 'LLL'}}</td>
{{/sortable-table}}
