<br />
<h3>{{model.event.name}}</h3>
<hr />

<div class='layout-row'>
  <div class='flex-25 layout-column'>
    {{charts/leads-follows-pie
      leads=summary.numberOfLeads
      follows=summary.numberOfFollows
      total=summary.totalRegistrants
      height=150
      width=100
    }}

    <hr />

    {{charts/gross-net-revenue
      unpaid=summary.unpaid
      net=summary.revenue
      fees=summary.revenueFees
      total=summary.revenueGross
      height=200
      width=200
    }}
  </div>

  <div class='flex-75'>
    <label>Most Recent Registrations</label>
    {{registration-list model=summary.recentRegistrations}}
  </div>
</div>


{{!-- {{charts/event/sunburst-purchases event=model.event}} --}}
