<div class={{order.paidClass}}>
  {{#if order.paid}}
    {{#if (is-present order.paymentReceivedAt)}}
      Paid {{to-usd order.paidAmount}} via {{order.paymentMethod}} {{order.checkNumber}}
      &nbsp;on {{date-with-format order.paymentReceivedAt 'LLL'}}
    {{else}}
      Paid {{to-usd order.paidAmount}}
    {{/if}}

    {{#if order.hasRefunds}}
      {{tool-tip message='This order has been (partially) refunded.'}}
    {{/if}}
  {{else}}
    Owes {{to-usd order.totalInDollars}}
  {{/if}}
</div>
