{{order/order-review model=model}}
<small class='right'>Prices as of {{date-with-format model.createdAt 'LLL'}}</small>
<br />

<div class='layout-row'>
  {{#paper-button raised=true onClick=(action 'resendReceipt')}}
    Resend Receipt
  {{/paper-button}}

  {{#unless isPaid}}
    {{order/mark-paid-modal accent=true order=model}}
  {{/unless}}

  {{#if canBeDeleted}}
    {{#form/confirm-button
      action='delete'
      showCancel=true
      confirmDestructive=true
      cancelClasses='tiny no-margins'
      confirmText='Really, Delete'
    }}
      Delete
    {{/form/confirm-button}}
  {{/if}}

  {{#if (and isStripe isPaid)}}
    {{#if hasPaidMoney}}
      {{#paper-button onClick=(action (mut showRefundModal) true)}}
        Refund
      {{/paper-button}}
    {{/if}}

    {{#paper-button onClick=(action 'refreshStripe')}}
      {{tool-tip
        message='if you have refunded via stripe directly, this will update aeonvera with that information.'
      }}
      Refresh Stripe Payment Data
    {{/paper-button}}
  {{/if}}
</div>


{{#if showRefundModal}}
  {{order/refund-modal
    order=model
    onClose=(action (mut showRefundModal) false)
    didClickClose=(action (mut showRefundModal) false)
  }}
{{/if}}
