{{#if hasError}}
  {{form/error-display
    class='mb-3'
    error=errorMessage
    onHide=(action 'hideError')
  }}
{{/if}}

{{#paper-form onSubmit=(action 'authenticate') as |form|}}
  <div class='layout-column'>
    {{form.input
      label='Email'
      type='email'
      value=identification
      onChange=(action (mut identification))
    }}

    {{form.input
      label='Password'
      type='password'
      value=password
      onChange=(action (mut password))
    }}

    <div class='layout-row layout-align-space-between-center'>
      <a onClick={{action (transition-to 'passwordReset')}}>Forgot your password?</a>

      {{#form.submit-button raised=true primary=true}}
        Login
      {{/form.submit-button}}
    </div>
  </div>
{{/paper-form}}

<br  />
{{login-form/login-qa}}
