<div class='layout-row layout-align-center-center'>
  <div class='layout-column layout-align-start-stretch flex-100 flex-gt-sm-80 flex-gt-md-60'>

    <div class='layout-row flex-100 flex-wrap'>
      {{form/image-upload-with-preview
        class='flex-20 flex-gt-xs-30 m-2'
        value=event.logo
        onChange=(action (mut-file event.logo))
      }}

      <div class='layout-column flex-grow layout-align flex-80 flex-gt-xs-70 '>
        {{form/content-editable
          class='py-3 px-1 mb-1 mt-0 size-3'
          tagName='h1'
          value=event.name
          placeholder='EventName Year'
          onChange=(action (mut event.name))
        }}

        {{form/content-editable
          class='py-1 px-1 my-0'
          tagName='h3'
          value=event.shortDescription
          placeholder='Tagline, Description'
          onChange=(action (mut event.shortDescription))
        }}
      </div>
    </div>

    <div class='layout-row layout-align-center mt-5'>
      {{#paper-card class='flex-60'  as |card|}}
        {{#card.content}}
          <div class='layout-row layout-align-space-around-center'>
            {{paper-input
              type='text'
              label='First Name'
              onChange=null
            }}

            {{paper-input
              type='text'
              label='Last Name'
              onChange=null
            }}
          </div>

          {{#if (true-or-undefined settings.requireCityState)}}
            <div class='layout-row layout-align-center-center'>
              {{#ask-question
                text='Do you want to collect city/state information?'
                value=settings.requireCityState
                onChange=(action (mut settings.requireCityState))
              }}
                <div class='layout-row'>
                  {{paper-input type='text' label='City' onChange=null}}
                  {{paper-input type='text' label='State' onChange=null}}
                </div>

              {{/ask-question}}
            </div>
          {{/if}}

          {{#if (true-or-undefined settings.askOrientation)}}
            {{#ask-question
              text="Do you need to know the registrant's preferred dance orientation"
              value=settings.askOrientation
              onChange=(action (mut settings.askOrientation))
            }}

              {{register/event-registration-form/orientation-select
                class='mt-3'
                errors=(map-by 'message' errors.danceOrientation)
                didSelectOrientation=(action (mut fakeProperty))
              }}
            {{/ask-question}}
          {{/if}}

          {{#if (true-or-undefined settings.askForVolunteers)}}
            {{#ask-question
              text="Are you in need of volunteers?"
              value=settings.askOrientation
              onChange=(action (mut settings.askOrientation))
            }}

              {{#paper-checkbox
                onChange=(action (mut fakeProperty))}}
                Interested In Volunteering
              {{/paper-checkbox}}

              <br  />
              {{paper-input
                type='text'
                placeholder="Phone Number"
                onChange=(action (mut fakeProperty))
                icon='phone'
              }}
            {{/ask-question}}
          {{/if}}

        {{/card.content}}

      {{/paper-card}}
    </div>

  </div>
</div>
