<h4>Welcome, {{currentUser.name}}!</h4>

<div class='layout-column'>

  {{#if (is-present upcomingHostedEvents)}}
    <h4>Hosted Events</h4>
    <div class='layout-row layout-wrap'>
      {{#each upcomingHostedEvents as |event|}}
        <div class='flex-xs-100 flex-gt-sm-50'>
          {{#paper-card class='flex-100' as |card|}}
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}
                  {{#link-to 'events.show' event.id}}
                    {{event.name}}
                  {{/link-to}}
                {{/text.headline}}
                {{#text.subhead}}{{date-range event.startsAt event.endsAt}}{{/text.subhead}}
              {{/title.text}}
            {{/card.title}}

            {{#card.content class='layout-row layout-align-space-between-center'}}
              {{#if (gt event.totalRegistrants 0)}}
                {{charts/leads-follows-pie
                  class='flex-50'
                  leads=event.numberOfLeads
                  follows=event.numberOfFollows
                  total=event.totalRegistrants
                  height=150
                  small=true
                }}
              {{else}}
                <span>No one has registered yet.</span>
              {{/if}}

              {{#if (gt event.revenue 0)}}
                {{charts/gross-net-revenue
                  class='flex-50'
                  unpaid=event.unpaid
                  net=event.revenue
                  fees=event.revenueFees
                  total=event.revenueGross
                  height=150
                  small=true
                }}
              {{else}}
                <span>No revenue yet.</span>
              {{/if}}
            {{/card.content}}

            {{#card.actions}}
              {{#paper-button
                raised=true
                primary=true
                onClick=(transition-to 'events.show' event.id)}}
                Summary
              {{/paper-button}}

              {{#paper-button
                raised=true
                onClick=(transition-to 'events.show.manage' event.id)}}
                Manage
              {{/paper-button}}

              {{#paper-button
                raised=true
                accent=true
                onClick=(transition-to 'event-at-the-door' event.id)}}
                At The Door
              {{/paper-button}}
            {{/card.actions}}
          {{/paper-card}}

        </div>
      {{/each}}
    </div>
  {{/if}}

  <br />
  <br />
  <h4>Upcoming Events</h4>
  <div class='layout-row layout-wrap'>

    {{#each upcomingEvents as |event|}}
      <div class='flex-xs-100 flex-gt-sm-50'>
        {{#paper-card class='flex-100' as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline}}
                {{#link-to 'register' event.domain}}
                  {{event.name}}
                {{/link-to}}
              {{/text.headline}}
              {{#text.subhead}}{{event.location}}{{/text.subhead}}
            {{/title.text}}

            {{#title.media size="md"}}
              {{#unless event.logoIsMissing}}
                <img src={{event.logoUrlThumb}} />
              {{/unless}}
            {{/title.media}}
          {{/card.title}}

          {{#card.content class='flex-100'}}
            <span>
              {{date-with-format event.startsAt 'll'}} to
              {{date-with-format event.endsAt 'll'}}
            </span>


          {{/card.content}}

          {{#card.actions}}
            {{#if (is-present event.website)}}
              <a class='md-default-theme md-button' target='_blank' href={{event.website}}>Website</a>
            {{/if}}

            {{#paper-button
              raised=true
              primary=true
              onClick=(transition-to 'register' event.domain)
            }}
              Register
            {{/paper-button}}
          {{/card.actions}}
        {{/paper-card}}
      </div>
    {{/each}}
  </div>
</div>

{{!--
  Implement this when there are enough events to search for
  Also, think of a way to merge with community stuff.
--}}
{{!-- {{paper-input
  class='full-width'
  type='text'
  label='Search for an event'
  value=(readonly eventSearch)
  onChange=(action (mut eventSearch))
}} --}}

{{!-- h3 Welcome, {{currentUser.name}}!
hr
br
h4 Register for an Event
/ TODO: Limit this to 10 events or whatever when the time comes
= upcoming-events-table model=model
= outlet
br
br
br
br
.row.center-margin
  .columns.medium-6.text-center
    h4 Now what?
    span Now that you are logged in, you can register for events, host your own event, start your own community or dance scene, have weekly lessons, memberships, and register for lessons or dances.

  .columns.medium-6.text-center
    h4 Need help?
    span Never be afraid to ask! if you have a question about anything, just send email to&nbsp;
    span the support email linked to at the bottom of the page
    span &nbsp; and you should receive a response in one business day.
    span &nbsp; There is also the facebook page linked to at the bottom of the screen, in case you want to discuss aeonvera with other people.

br
br

.row.center-margin
  .columns.small-12
    h4 Want to submit a feature request or a bug report?
    span You can do so here&nbsp;
    a href='https://github.com/NullVoxPopuli/aeonvera/issues/new' on github.
    p
      | This is where all bugs, features, and general todos are tracked. All issues are roughly prioritized into&nbsp;
      a href='https://github.com/NullVoxPopuli/aeonvera/milestones' milestones
      | , which hopefully don't last longer than a month.
      br
      br
      span If you see a feature that has been recorded, but hasn't yet been worked on, you may comment on it, and its priority will move up. --}}
