<h4>Welcome, {{currentUser.name}}!</h4>

<div class='layout-column'>

  {{#if (is-present upcomingHostedEvents)}}
    <h4>Hosted Events</h4>
    <div class='layout-row layout-wrap'>
      {{#each upcomingHostedEvents as |event|}}
        {{upcoming-hosted-event event=event class='flex-xs-100 flex-gt-sm-50'}}
      {{/each}}
    </div>
  {{/if}}

  <br />
  <br />
  <h4>Upcoming Events</h4>
  <div class='layout-row layout-wrap'>

    {{#each upcomingEvents as |event|}}
      {{upcoming-event event=event class='flex-xs-100 flex-gt-sm-50'}}
    {{/each}}
  </div>
</div>

{{!--
  Implement this when there are enough events to search for
  Also, think of a way to merge with community stuff.
--}}
{{!-- {{paper-input
  class='full-width'
  type='text'
  label='Search for an event'
  value=(readonly eventSearch)
  onChange=(action (mut eventSearch))
}} --}}

{{!-- h3 Welcome, {{currentUser.name}}!
hr
br
h4 Register for an Event
/ TODO: Limit this to 10 events or whatever when the time comes
= upcoming-events-table model=model
= outlet
br
br
br
br
.row.center-margin
  .columns.medium-6.text-center
    h4 Now what?
    span Now that you are logged in, you can register for events, host your own event, start your own community or dance scene, have weekly lessons, memberships, and register for lessons or dances.

  .columns.medium-6.text-center
    h4 Need help?
    span Never be afraid to ask! if you have a question about anything, just send email to&nbsp;
    span the support email linked to at the bottom of the page
    span &nbsp; and you should receive a response in one business day.
    span &nbsp; There is also the facebook page linked to at the bottom of the screen, in case you want to discuss aeonvera with other people.

br
br

.row.center-margin
  .columns.small-12
    h4 Want to submit a feature request or a bug report?
    span You can do so here&nbsp;
    a href='https://github.com/NullVoxPopuli/aeonvera/issues/new' on github.
    p
      | This is where all bugs, features, and general todos are tracked. All issues are roughly prioritized into&nbsp;
      a href='https://github.com/NullVoxPopuli/aeonvera/milestones' milestones
      | , which hopefully don't last longer than a month.
      br
      br
      span If you see a feature that has been recorded, but hasn't yet been worked on, you may comment on it, and its priority will move up. --}}
