{{#foundation-modal
  title='Mark Paid'
  name=modalName
  buttonText='Mark Paid'}}

  <div class='row'>
    <div class='columns small-4'>
      {{radio-button value=paymentMethods.CASH groupValue=paymentMethod}}
      <label>Cash</label>
    </div>
    <div class='columns small-4'>
      {{radio-button value=paymentMethods.CHECK groupValue=paymentMethod}}
      <label>Check</label>
    </div>
    <div class='columns small-4'>
      {{radio-button value=paymentMethods.STRIPE groupValue=paymentMethod}}
      <label>Stripe</label>
    </div>
  </div>


  {{#if (isEqual paymentMethod paymentMethods.CASH)}}
    <label>Amount</label>
    {{form/dollar-field value=cashOrCheckAmount}}
    <label>Notes</label>
    {{input value=notes}}
    <hr>
    <ul class='button-group right'>
      <li>
        <button {{action 'markPaid'}}
        class='small'
        disabled={{isPaying}}>Mark Paid</button>
      </li>
    </ul>
  {{/if}}

  {{#if (isEqual paymentMethod paymentMethods.CHECK)}}
    <div class='row'>
      <div class='columns medium-6'>
        <label>Amount</label>
        {{form/dollar-field value=cashOrCheckAmount}}
      </div>
      <div class='columns medium-6'>
        <label>Check Number</label>
        {{input type='text' value=checkNumber}}
      </div>
      <div class='columns small-12'>
        <label>Notes</label>
        {{input value=notes}}
      </div>
    </div>
    <hr>
    <ul class='button-group right'>
      <li>
        <button {{action 'markPaid'}}
        class='small'
        disabled={{isPaying}}>Mark Paid</button>
      </li>
    </ul>
  {{/if}}

  {{#if (isEqual paymentMethod paymentMethods.STRIPE)}}
    <ul class='button-group right'>
      <li>{{stripe/checkout-button model=order label='Pay' email=order.checkoutEmail}}</li>
    </ul>
  {{/if}}
{{/foundation-modal}}
