{{#foundation-modal
  title='Mark Paid'
  name=modalName
  buttonText='Mark Paid'}}

  {{#if showOrder}}
    {{order/order-review model=order}}
    <hr / />
  {{/if}}

  <div class='row'>
    <div class='columns medium-6'>
      <input type='checkbox' onchange={{action 'absorbFeesClick'}} />
      <label>Absorb Service Fee</label>

      <label>Amount
        <a class='right' {{action 'setToOrderTotal'}}>Set to order total</a>
      </label>
      {{form/dollar-field
        value=cashOrCheckAmount
        placeholder=amount
      }}

      {{#if (is-equal paymentMethod paymentMethods.CHECK)}}
        <label>Check Number</label>
        {{input type='text' value=checkNumber}}
      {{/if}}

      <label>Email for Receipt</label>
      {{input type='email' value=order.checkoutEmail}}

      <label>Notes</label>
      {{input value=notes}}
    </div>

    <div class='columns medium-6'>
      <div class='row'>
        {{radio-button value=paymentMethods.CASH groupValue=paymentMethod}}
        <label>Cash</label>
        <br />
        {{radio-button value=paymentMethods.CHECK groupValue=paymentMethod}}
        <label>Check</label>
        <br />
        {{radio-button value=paymentMethods.STRIPE groupValue=paymentMethod}}
        <label>Stripe</label>

        {{#if (is-equal paymentMethod paymentMethods.CASH)}}
        <hr>
        <ul class='button-group right'>
          <li>
            {{#form/confirm-button
              action='markPaid'
              confirmText=confirmText
              showCancel=true
              cancelClasses='small'
              confirmClasses='small'
            }}
              <button class='small'>Mark Paid</button>
            {{/form/confirm-button}}
            {{!-- <button {{action 'markPaid'}}
            class='small'
            disabled={{isPaying}}>Mark Paid</button> --}}
          </li>
        </ul>
        {{/if}}

        {{#if (is-equal paymentMethod paymentMethods.CHECK)}}
          <hr>
          <ul class='button-group right'>
            <li>
              <button {{action 'markPaid'}}
              class='small'
              disabled={{isPaying}}>Mark Paid</button>
            </li>
          </ul>
        {{/if}}


        {{#if (is-equal paymentMethod paymentMethods.STRIPE)}}
          <hr />
          <ul class='button-group right'>
            <li>
              {{stripe/checkout-button
                model=order
                label='Pay'
                action='processStripeToken'
                paymentAmountOverride=amount
                email=order.checkoutEmail}}</li>
          </ul>
        {{/if}}

      </div>
    </div>
  </div>




{{/foundation-modal}}
