{{#ember-paper/simple-dialog-with-button
  title='Mark Paid'
  accent=accent
  buttonText='Mark Paid'}}

  {{#if showOrder}}
    {{order/order-review model=order}}
    <hr / />
  {{/if}}

  <div class='row'>
    <div class='columns medium-6'>
      {{#paper-checkbox value=order.isFeeAbsorbed onChange=(action (mut order.isFeeAbsorbed))}}
        Absorb Service Fee
      {{/paper-checkbox}}

      {{paper-input
        type='number'
        label='Order Total'
        value=(or cashOrCheckAmount orderTotal)
        onChange=(action (mut cashOrCheckAmount))
      }}

      {{#if (is-equal paymentMethod paymentMethods.CHECK)}}
        {{paper-input
          type='text'
          label='Check Number'
          value=(readonly checkNumber)
          onChange=(action (mut checkNumber))
        }}
      {{/if}}

      {{paper-input
        type='email'
        label='Email for Receipt'
        value=(readonly order.checkoutEmail)
        onChange=(action (mut order.checkoutEmail))
      }}

      {{paper-input
        textarea=true
        label='Notes'
        value=(readonly notes)
        onChange=(action (mut notes))
        passThru=(hash rows=3 maxRows=5)
      }}
    </div>

    <div class='columns medium-6'>
      <div class='row'>
        {{radio-button value=paymentMethods.CASH groupValue=paymentMethod}}
        <label>Cash</label>
        <br />
        {{radio-button value=paymentMethods.CHECK groupValue=paymentMethod}}
        <label>Check</label>
        <br />
        {{radio-button value=paymentMethods.STRIPE groupValue=paymentMethod}}
        <label>Stripe</label>

        {{#if (is-equal paymentMethod paymentMethods.CASH)}}
        <hr>
        <ul class='button-group right'>
          <li>
            {{#form/confirm-button
              action='markPaid'
              confirmText=confirmText
              confirmPrimary=true
              showCancel=true
              cancelClasses='small'
              confirmClasses='small'
            }}
              Mark Paid
            {{/form/confirm-button}}
          </li>
        </ul>
        {{/if}}

        {{#if (is-equal paymentMethod paymentMethods.CHECK)}}
          <hr>
          <ul class='button-group right'>
            <li>
              <button {{action 'markPaid'}}
              class='small'
              disabled={{isPaying}}>Mark Paid</button>
            </li>
          </ul>
        {{/if}}


        {{#if (is-equal paymentMethod paymentMethods.STRIPE)}}
          <hr />
          <ul class='button-group right'>
            <li>
              {{stripe/checkout-button
                model=order
                label='Pay'
                action='processStripeToken'
                paymentAmountOverride=amount
                email=order.checkoutEmail}}</li>
          </ul>
        {{/if}}

      </div>
    </div>
  </div>

{{/ember-paper/simple-dialog-with-button}}
