{{notification-container position='top'}}

{{from-elsewhere name='top-navigation'}}

{{#paper-sidenav-container}}
  {{#if showSidebar}}
    {{#paper-sidenav open=isSidebarOpen class='md-whiteframe-z2' onToggle=(action (mut leftBarOpen))}}
      {{from-elsewhere name='left-side-bar'}}
    {{/paper-sidenav}}
  {{/if}}


  <div class='application-wrapper'>
    {{outlet}}
  </div>

  {{from-elsewhere name='app-footer'}}

{{/paper-sidenav-container}}


{{to-elsewhere
  named='app-footer'
  send=(component 'sticky-footer')
}}
