{{notification-container position='top'}}

{{from-elsewhere name='top-navigation'}}

<div class='application-wrapper'>
  {{outlet}}
</div>

{{from-elsewhere name='app-footer'}}

{{to-elsewhere
  named='app-footer'
  send=(component 'sticky-footer')
}}
