{{notification-container position='top'}}

{{#paper-sidenav-container class='sidenav-container-wrapper'}}
  {{#if showSidebar}}
    {{#paper-sidenav
      open=isSidebarOpen
      lockedOpen=false
      class='md-whiteframe-z2'
      onToggle=(action (mut isSidebarOpen))}}

      {{from-elsewhere name='left-side-bar'}}

    {{/paper-sidenav}}
  {{/if}}


  <div class='application-wrapper'>
    {{from-elsewhere name='top-navigation'}}

    <section class='main-section'>
      {{outlet}}
    </section>

    {{from-elsewhere name='app-footer'}}
  </div>


{{/paper-sidenav-container}}


{{to-elsewhere
  named='app-footer'
  send=(component 'sticky-footer')
}}
