{{#paper-card as |card|}}
  {{#paper-toolbar as |toolbar|}}
    {{#card.title as |title|}}
      <div class='layout-column flex-100'>
        {{#toolbar.tools class='layout-row layout-align-space-between-center'}}
          {{order/mark-paid-modal-with-button
            order=order
            accent=true
            buttonText='Pay'
            buttonDisabled=(is-empty order)
            afterPayment=(action 'showComplete')
            onClick=(action 'onPayButtonClick')
          }}

          <div>
            {{or order.registration.name order.buyerName}}
          </div>

          {{#paper-button
            raised=true
            disabled=(is-empty order)
            onClick=(action onCancelOrder)
          }}
            {{paper-icon 'close'}}
            Discard
          {{/paper-button}}
        {{/toolbar.tools}}

        {{#title.text class='layout-align-center-center' as |text|}}
          {{#text.headline}}
            {{#if (is-present order.total)}}
              <small><em>Total</em></small> {{to-usd orderTotal}}
            {{/if}}
          {{/text.headline}}
        {{/title.text}}

      </div>
    {{/card.title}}
  {{/paper-toolbar}}

  {{#card.content}}

    {{#if (await order)}}
      <div class='layout-row layout-align-start'>
        {{paper-radio
          label='Attach to Registrant'
          value=0
          groupValue=nameType
          onChange=(action (mut nameType))
        }}
        {{paper-radio
          class='margin-left-20'
          label='Enter Name'
          value=1
          groupValue=nameType
          onChange=(action (mut nameType))
        }}
      </div>

      {{#if (is-equal nameType 0)}}
        {{form/registrant-select
          event=event
          value=order.registration
          onChange=(action 'updateRegistration')
        }}
      {{else}}
        {{paper-input
          type='text'
          label='Buyer Name'
          class='margin-botom-0'
          isTouched=true
          errors=(map-by 'message' orderLineItem.errors.buyerName)
          value=(readonly order.buyerName)
          onChange=(action (mut order.buyerName))
        }}
      {{/if}}



      <br />

      {{#each order.orderLineItems as |item|}}
        {{order/order-cart/cart-row
          order=order
          orderLineItem=item
          allowQuantityChange=true
          onRemoveLineItem=(action onRemoveLineItem)
          allowQuantityChangei=true
        }}
        {{paper-divider}}
      {{/each}}
    {{else}}
      Please add some items to begin.
    {{/if}}


  {{/card.content}}
  {{#card.actions}}
    {{#if (await order)}}
      <div class='layout-column flex-100'>
        <div class='layout-row layout-wrap'>
          {{#unless order.isFeeAbsorbed}}
            <label class='flex-50'>Sub Total</label>
            <span class='flex-50'>{{to-usd order.unconfirmedSubTotal}}</span>
            <label class='flex-50'>Fee</label>
            <span class='flex-50'>{{to-usd order.fee}}</span>
          {{/unless}}

          <label class='flex-50'>Total</label>
          <span class='flex-50'>{{to-usd orderTotal}}</span>
        </div>

        {{#paper-checkbox
          value=order.isFeeAbsorbed
          onChange=(action (mut order.isFeeAbsorbed))}}
          Absorb Service Fee
        {{/paper-checkbox}}
      </div>
    {{/if}}
  {{/card.actions}}
{{/paper-card}}
