{{#if hasYetToConfirm }}
  <a {{action 'preClickAction'}} class='{{preConfirmClasses}}'>
    {{yield}}
  </a>
{{else}}

  {{#spinner-button onclick=(action 'triggerAction') classNames=confirmClasses}}
    {{confirmText}}
  {{/spinner-button}}

  {{#if showCancel}}
    <button class='alert {{cancelClasses}}' {{action 'cancel'}}>Cancel</button>
  {{/if}}

{{/if}}
