<td>
  {{registration-link model=model}}

  {{#if model.hasUsedStudentDiscount}}
    <em><small><strong>Used Student Discount</strong></small></em><br />
  {{/if}}

  <small>{{date-with-format model.registeredAt 'lll'}}</small>
</td>

<td>
  {{registrant/compact-order-item-list orders=model.orders}}
</td>

<td>
  {{#if model.isCheckedIn}}
    {{date-with-format model.checkedInAt 'lll'}}
  {{else}}
    {{#paper-button
      onClick='checkin'
      raised=true
      primary=true}}
      Check in
    {{/paper-button}}
  {{/if}}
</td>
