{{!-- {{#unless loggedIn}}
  <div class='layout row layout-align-space-between show-for-small'>
    {{login-modal afterLogin=(action (transition-to 'dashboard'))}}
    {{sign-up-modal}}

  </div>
{{/unless}} --}}

<div class='layout-column layout-align-space-around-stretch'>
  <div class='main-title layout-row layout-align-center-center'>
    <h1 class='welcome-title'>{{t 'subheader'}}</h1>
  </div>

  <div class='layout-column layout-align-space-around'>

    <div class='calls-to-action layout-row layout-align-space-around'>
      {{#paper-button
        raised=true accent=true
        onClick=(action (transition-to 'upcoming-events'))}}
        {{t 'buttons.eventcalendar'}}
      {{/paper-button}}

      {{#paper-button
        raised=true accent=true
        onClick=(action (transition-to 'events.new'))}}
        {{t 'buttons.createyourevent'}}
      {{/paper-button}}

      {{#paper-button
        raised=true accent=true
        onClick=(action (transition-to 'communities'))}}
        List of Dance Scenes
      {{/paper-button}}
    </div>

    <div class='layout-row'>

      <h3>
        {{#link-to 'welcome.features'}}
        {{t 'features'}}
        {{/link-to}}
        {{t 'featuresinfo'}}
      </h3>

      <h3>
        {{#link-to 'welcome.pricing'}}
        {{ t 'pricing' }}
        {{/link-to}}
        {{t 'pricinginfo'}}
      </h3>

      <h3>
        {{#link-to 'welcome.faq'}}
        {{t 'faq'}}
        {{/link-to}}
      </h3>
      {{t 'faqinfo'}}

    </div>
  </div>
</div>
