{{!-- {{#unless loggedIn}}
  <div class='layout row layout-align-space-between show-for-small'>
    {{login-modal afterLogin=(action (transition-to 'dashboard'))}}
    {{sign-up-modal}}

  </div>
{{/unless}} --}}

<div class='layout-column layout-align-space-around-stretch'>
  <div class='layout-column layout-align-center-start'>

    <div class='main-title layout-row layout-align-center-center'>
      <h1 class='welcome-title'>{{t 'subheader'}}</h1>
    </div>

    <div class='calls-to-action layout-row layout-align-space-around'>
      {{#paper-button
        raised=true
        onClick=(action (transition-to 'upcoming-events'))}}
        {{t 'buttons.eventcalendar'}}
      {{/paper-button}}

      {{#paper-button
        raised=true primary=true
        onClick=(action (transition-to 'events.new'))}}
        {{t 'buttons.createyourevent'}}
      {{/paper-button}}
    </div>
  </div>

  <div class='layout-column layout-align-space-around'>


    <div class='welcome-blurb'>
      <h2>
        Everything needed to run your event.
      </h2>



      <hr />
      {{#link-to 'welcome.features'}}
        Click here for the full list of features
      {{/link-to}}
    </div>

    <div class='welcome-blurb'>
      <h2>
        Cheaper than every other online event registration system.
      </h2>

      80% of the fees go to the payment processor.
      20% go towards the development of this site.

      <hr />
      Visit
      {{#link-to 'welcome.pricing'}}
        the pricing page
      {{/link-to}}

      for details on how it all breaks down.
    </div>
  </div>
</div>
