{{#if housingProvision.isPersisted}}
  <tr><th>And are providing housing</th></tr>
  <tr><td colspan=2>
    {{#unless houstingNoPreference}}

      <span> You prefer to host {{housingProvision.preferredGenderToHost}}</span>
    {{/unless}}
    {{#if hasPets}}

      <span> &nbsp;With Pets</span>
    {{/if}}
    {{#if smokes}}

      <span> &nbsp;{{smokingConjunction}} Smoking</span>
    {{/if}}
    {{#if housingProvision.canProvideTransportation}}

      <span>
        &nbsp;{{transportationConjuction}} providing transportation for {{housingProvision.transportationCapacity}} {{transportPlural}}
      </span>
    {{/if}}

    <br />
    {{housingProvision.notes}}
  </td></tr>

{{/if}}
