<style>
  .welcome-background {
    top: -700px;
  }
</style>

<div class='pricing'>
  <div class='on-the-background'>

    <h1 class='main-title'>Creating an Event is Free</h1>
    <h4>Probably cheaper than the altervative</h4>

    {{#paper-button
      raised=true
      onClick=(action (transition-to 'events.new'))}}
      {{t 'createyourevent'}}
    {{/paper-button}}
  </div>

  <div class='off-the-background'>
    <div class='layout-gt-sm-row layout-align-space-between'>
      <div class='flex-gt-sm-50'>
        {{pricing-preview}}
      </div>
      <div class='flex-gt-sm-50 p-2'>
        {{welcome-home/pricing/free-or-not}}
      </div>
    </div>

    {{welcome-home/pricing/pricing-features}}

    {{welcome-home/get-started}}
  </div>
</div>
