<div class='row padding-20'>
  {{organizations/title-with-logo model=model subtitle='Registration'}}
  <p class='text-center margin-top-20 margin-bottom-20'>
    <div class='layout-row layout-align-center-center'>
      {{login-modal}}
      {{sign-up-modal}}
    </div>
    <hr />
    or continue without an account below
    <br />
  </p>

  {{#paper-form onSubmit=(action 'submitInformation') as |form|}}
  <div class='layout-column layout-align-center-stretch'>
      {{form.input
        label='First Name'
        type='text'
        value=firstName
        onChange=(action (mut firstName))
        required=true}}

      {{form.input
        label='Last Name'
        type='text'
        value=lastName
        onChange=(action (mut lastName))
        required=true}}

      {{form.input
        label='Email'
        type='email'
        value=email
        customValidations=emailValidation
        onChange=(action (mut email))
        required=true}}

    </div>

    <div class='layout-column layout-align-center-end'>
      {{#form.submit-button
        raised=true
        primary=true}}
        Continue
      {{/form.submit-button}}
    </div>
  {{/paper-form}}

</div>
